{% extends 'BootstrapBundle::base.html.twig' %}

{% block crm_brand %}Webworks CRM{% endblock %}

{% block meta %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {% block page_title %}Title not set!{% endblock %} - {{ block('crm_brand') }}
{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{% block headline %}{{ block('page_title') }}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
